<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>
    <body>
        <div class="page">
            <aside class="aside"></aside>
            <div class="content">
                <div class="head">
                    <div class="head__col">
                        <a href="#" class="logo"><img src="../images/logo.svg" alt=""></a>
                        <div class="info">
                            <span>Счёт №1111</span>
                            <span>от 5 июня 2018 года</span>
                        </div>
                    </div>
                    <div class="head__col">
                        <div class="company">
                            <div class="company__title">Плательщик</div>
                            <div class="company__name">SIA „Kontora"</div>
                            <div class="company__text">LV40103967502 Altonavas iela 5-11, Rīga, LV-1004</div>
                            <div class="company__text">AS „Swedbank” LV58HABA0551041301961 HABALV22</div>
                            <div class="company__mail">hello@kontoradigital.com</div>
                        </div>
                        <div class="company">
                            <div class="company__title">Получатель</div>
                            <div class="company__name">SIA „Intergaz"</div>
                            <div class="company__text">LV51503023031 Vaļņu iela 30, Daugavpils, LV-5401</div>
                            <div class="company__text">AS „Swedbank” LV62HABA0551002120291 HABALV22
                            </div>
                            <div class="company__mail">info@intergaz.lv</div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
    </html>